Repository gdgoc-usc/gdgoc-usc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "*.astro": ["prettier --write"],
  "*.{json,md,yml,yaml,css}": ["prettier --write"]
}

fix: lowered coverage thresholds, simplified CI workflow
  .github/workflows/ci.yml
  bun.lock
  package.json
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: new readme
  README.md
  public/home_screenshot.png
  src/components/layout/Footer.astro
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: new readme
  README.md
Due: prettier --write

docs: updated contributing docs
  CONTRIBUTING.md
  MAINTAINABILITY.md
Due: prettier --write

perf: change Hero BG from svg to webp, reducing file size and resource load
  .zed/settings.json
  public/gdgoc_bg_1.webp
  src/pages/Hero.astro
Due: prettier --write

docs: add line
  README.md
Due: prettier --write

feat: test commit
  src/pages/index.astro
Due: prettier --write

feat: added Construction Notice modal
  src/components/ConstructionNoticeModal.tsx
  src/components/SuspenseLoader.tsx
  src/layouts/Layout.astro
Due: prettier --write, eslint --fix

feat: construction modal to be hidden in local server
  src/components/ConstructionNoticeModal.tsx
Due: prettier --write, eslint --fix

feat: add template Partners section, to change logo and other stuff soon
  bun.lock
  public/logos/cpec.svg
  public/logos/globe.svg
  src/components/animated/AnimatedTeamImage.tsx
  src/config/brands.data.ts
  src/pages/Hero.astro
  src/pages/Partners.astro
  src/pages/Team.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix

feat: improve og-image, added apple touch icon, hopefully improve SEO
  public/apple-touch-icon.png
  public/favicon.ico
  public/og-image.jpg
  src/layouts/Layout.astro
Due: prettier --write

feat: add favicon to root folder and root/src folder
  favicon.ico
  src/favicon.ico
Due: none

feat: added /socials route
  public/new_logo.svg
  src/components/SocialLinkCard.tsx
  src/components/layout/Footer.astro
  src/config/social.data.ts
  src/pages/socials/index.astro
Due: prettier --write, eslint --fix

feat: remove suspense loader and stuff not really needed
  src/layouts/SocialsLayout.astro
  src/pages/socials/index.astro
Due: prettier --write

feat: add faq page by homer
  public/gdgoc_logo.svg
  public/gdgoc_logo_old.svg
  src/components/layout/Header.astro
  src/pages/faq/index.astro
Due: prettier --write

feat: remove security audit cuz wtf
  .github/workflows/ci.yml
Due: prettier --write

feat: added merch href
  src/components/layout/Header.astro
Due: prettier --write

feat: lessen padding up top
  src/pages/faq/index.astro
Due: prettier --write

feat: apply homer's changes
  src/pages/faq/index.astro
Due: prettier --write

feat: fix mobile view for the faq items
  src/pages/faq/index.astro
Due: prettier --write

feat: new og image
  public/og-image.jpg
  public/og-img.jpg
Due: none

feat: fix mobile responsiveness
  src/components/SettingsDropdown.tsx
  src/components/layout/Header.astro
  src/pages/Team.astro
Due: prettier --write, eslint --fix

refactor: move event timeline into its own section
  src/pages/Timeline.astro
  src/pages/index.astro
Due: prettier --write

feat: add fortune pai gow idk HASHAHSAH
  bun.lock
  package.json
  src/components/slots/SlotMachine.astro
  src/pages/fortune-pai-gow/index.astro
Due: prettier --write

feat: add skeleton loaders to images
  src/components/animated/AnimatedTeamImage.tsx
  src/components/skeleton/TeamMemberSkeleton.tsx
  src/components/skeleton/index.ts
  src/components/team/TeamGrid.tsx
  src/components/team/index.ts
  src/pages/Team.astro
  src/styles/global.css
  src/styles/team-masonry.css
  src/utils/teamUtils.ts
Due: prettier --write, eslint --fix

feat: fix skeleton loader height
  src/components/skeleton/TeamMemberSkeleton.tsx
  src/components/team/TeamGrid.tsx
  src/styles/team-masonry.css
Due: prettier --write, eslint --fix

feat: improved team, separated it to its own route
  public/members/Kairi.png
  public/members/Leira.png
  public/members/Myk.png
  src/components/layout/Footer.astro
  src/components/layout/Header.astro
  src/components/skeleton/TeamMemberSkeleton.tsx
  src/components/team/TeamGrid.tsx
  src/config/team.data.ts
  src/pages/Team.astro
  src/pages/index.astro
  src/pages/team/index.astro
  src/styles/global.css
  src/styles/team-masonry.css
  src/utils/teamUtils.ts
Due: prettier --write, eslint --fix

feat: fix og img hopefully
  public/og-img.jpg
  src/layouts/SocialsLayout.astro
Due: prettier --write

fix: skeleton loader doesn't have height unless there's image load
  src/components/skeleton/TeamMemberSkeleton.tsx
  src/components/team/TeamGrid.tsx
Due: prettier --write, eslint --fix

fix: rEMOVED FOOTER FROM TEAM (it showed in index.astro as well)
  src/components/layout/Header.astro
  src/pages/team/index.astro
Due: prettier --write

fix: fix bugged header, improved on mobile as well
  src/components/SettingsDropdown.tsx
  src/components/layout/Header.astro
  src/pages/index.astro
  src/pages/team/Team.astro
  src/pages/team/index.astro
Due: prettier --write, eslint --fix

feat: add kineth and heart
  public/members/Heart.png
  public/members/Kineth.png
  src/config/team.data.ts
Due: prettier --write, eslint --fix

feat: improved suspense loader and header
  src/components/SuspenseLoader.tsx
  src/components/layout/Header.astro
  src/pages/team/Team.astro
Due: prettier --write, eslint --fix
